<form [formGroup]="formGroup" class="app-container">
  <h1>Quebec taxes calculator</h1>
test

  <p *ngIf="exchangeRate">1€ = {{ round(exchangeRate) }}CAD</p>
  <p *ngIf="exchangeRateError">Aucun taux de change configuré. Veuillez vous reconnecter</p>

  <div class="line">
    <p>CAD</p>
    <input type="number" formControlName="cad">
    <i (click)="cad.reset()">&#x2716;</i>
  </div>

  <div class="line">
    <p>EUR</p>
    <input type="number" formControlName="eur">
    <i (click)="eur.reset()">&#x2716;</i>
  </div>

  <span></span>

  <div class="line">
    <p>TPS (5%)</p>
    <input type="number" style="caret-color: transparent" readonly formControlName="tps">
  </div>

  <div class="line">
    <p>TVQ (9.975%)</p>
    <input type="number" style="caret-color: transparent" readonly formControlName="tvq">
  </div>

  <span></span>

  <div class="line">
    <p>CAD TTC</p>
    <input type="number" formControlName="cadTtc">
    <i (click)="cadTtc.reset()">&#x2716;</i>
  </div>

  <div class="line">
    <p>EUR TTC</p>
    <input type="number" formControlName="eurTtc">
    <i (click)="eurTtc.reset()">&#x2716;</i>
  </div>
</form>
