:host {
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 1;

  h1 {
    align-self: center;
    margin: 0;
    font-weight: normal;
    font-size: 35px;
  }

  >p {
    font-size: 20px;
    margin: 15px 0;
    margin-top: 25px;
    font-weight: bold;
  }

  .line {
    display: grid;
    grid-template-columns: 130px 1fr;
    align-items: center;
    gap: 10px;
    position: relative;

    p {
      font-size: 20px;
      white-space: nowrap;
    }

    input {
      min-width: 0;
      height: 30px;
      padding: 7px 30px 7px 5px;
      font-size: 20px;
      border: 1px solid black;
      border-radius: 5px;
    }

    i {
      font-style: normal;
      position: absolute;
      right: 10px;
      top: 19px;
      cursor: pointer;
    }
  }

  span {
    margin: 10px;
  }
}