<form [formGroup]="formGroup" class="app-container">
  <h1>Quebec taxes calculator</h1>

  <p *ngIf="exchangeRate">1€ = {{ round(exchangeRate) }}CAD <span>(updated {{ updatedDate | date:"MMM dd, yyyy 'at' hh:mm a" }})</span></p>
  <p *ngIf="exchangeRateError">Aucun taux de change configuré. Veuillez vous reconnecter</p>

  <div class="line">
    <label for="cad">CAD</label>
    <input type="number" id="cad" formControlName="cad">
    <i (click)="cad.reset()">&#x2716;</i>
  </div>

  <div class="line">
    <label for="eur">EUR</label>
    <input type="number" id="eur" formControlName="eur">
    <i (click)="eur.reset()">&#x2716;</i>
  </div>

  <span></span>

  <div class="line">
    <label for="tps">TPS (5%)</label>
    <input type="number" id="tps" style="caret-color: transparent" readonly formControlName="tps">
  </div>

  <div class="line">
    <label for="tvq">TVQ (9.975%)</label>
    <input type="number" id="tvq" style="caret-color: transparent" readonly formControlName="tvq">
  </div>

  <span></span>

  <div class="line">
    <label for="cadTtc">CAD TTC</label>
    <input type="number" id="cadTtc" formControlName="cadTtc">
    <i (click)="cadTtc.reset()">&#x2716;</i>
  </div>

  <div class="line">
    <label for="eurTtc">EUR TTC</label>
    <input type="number" id="eurTtc" formControlName="eurTtc">
    <i (click)="eurTtc.reset()">&#x2716;</i>
  </div>
</form>
